body
{
	background-image: url('../images/body_background.jpg');
	background-color:black;
}

#navigationBox
{
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 900px;
	background-color:#4c4c4c;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 20px 0px #000 inset, 0 0 16px 0px #000;
}

ul#navigation
{
	margin-top: 0px;
	padding-left: 0px;
}

ul#navigation li
{
	padding-top: 10px;
	list-style: none;
	float: left;
	width: 180px;
	height: 50px;
}

li#home:hover
{
	background-color: #7f7f7f;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 0 20px 0px #111 inset, 0 0 16px 0px #000;
}

ul#navigation li#help:hover
{
	background-color: #7f7f7f;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 20px 0px #111 inset, 0 0 16px 0px #000;
}

ul#navigation li:hover
{
	background-color: #7f7f7f;
	box-shadow: 0 0 20px 0px #111 inset, 0 0 16px 0px #000;
}

ul#navigation li a
{
	padding-top: 7px;
	display: block;
	text-decoration:none;
	text-align:center;
	font-size: 18px;
	color: white;
}

#container
{
	background-color: rgba(255, 255, 255, 0.2);
	width:900px;
	height:900px;
	margin:10px auto 0 auto;
	border-radius:10px;
	box-shadow: 0px 0px 10px black inset, 0px 0px 10px black;
}

#container select, #container input[type="email"],#container input[type="text"], #container input[type="password"]
{
	font-size: 17px;
}

#container label
{
	font-size: 18px;
}

#container input[type="submit"]
{
	font-size: 17px;
}

#container_header
{
	
	width: 900px;
	height: 30px;
	text-align: center;
}

#form_container
{
	float: left;
	margin-left: 40px;
	width:630px;
	height:730px;
}

#form_container label
{
	font-size: 20px;
	color: white;
}

#form_container input[type="text"], #form_container select, #form_container input[type="date"], #form_container input[type="number"]
{
	width: 350px;
}

#form_container table
{
	width: 600px;
}

#footer
{
	color: white;
	padding-top: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 20px;
}