body
{
	background-image: url('../images/body_background.jpg');
}

@font-face
{
	font-family: Font1;
	src: url('../fonts/scribble_box.ttf');
}

#user_processing
{
	position:fixed;
	height: 180px;
	width: 180px;
	top: 240px;
    left: 43%;
    right: 43%;
	z-index:120;
}

#success_box
{
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(240, 183, 43, 0.5);
	height: 300px;
	width: 800px;
	position: fixed;
	z-index: 120;
	top: 180px;
    left: 20%;
    right: 20%;
}

#success_message
{
	text-align: center;
	padding-top: 30px;
	float: left;
	height: 270px;
	width: 500px;
}

#success_image
{
	float: left;
	height: 300px;
	width: 300px;
}

#overlay
{
	background-color: rgba(10, 10, 10, 0.9);
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:110;
}

#navigationBox
{
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 900px;
	background-color:#4c4c4c;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 20px 0px #000 inset, 0 0 16px 0px #000;
}

#gallery_container
{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(241, 238, 231, 0.3);
	padding-top: 10px;
	min-height: 500px;
	height: auto;
	width: 900px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#gallery_header
{
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 875px;
}

#gallery_elements
{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 420px;
	height: auto;
	width: 875px;
}

#header_text
{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	width: 875;
}

#header_control
{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	width: 875;
}

.material_container
{
	background-color: rgba(241, 238, 231, 0.5);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: 11px;
	margin-bottom: 11px;
	height: 260px;
	width: 270px;
}

.material_image
{
	float: left;
	height: 180px;
	width: 100px;
}

.material_info
{
	float: left;
	height: 260px;
	width: 160px;
}

ul#navigation
{
	margin-top: 0px;
	padding-left: 0px;
}

ul#navigation li
{
	list-style: none;
	padding-top: 7px;
	float: left;
	width: 180px;
	height: 43px;
}

li#home:hover
{
	background-color: #7f7f7f;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 0 20px 0px #111 inset, 0 0 16px 0px #000;
}

ul#navigation li#help:hover
{
	background-color: #7f7f7f;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 20px 0px #111 inset, 0 0 16px 0px #000;
}

ul#navigation li:hover
{
	background-color: #7f7f7f;
	box-shadow: 0 0 20px 0px #111 inset, 0 0 16px 0px #000;
}

ul#navigation li a
{
	padding-top: 7px;
	display: block;
	text-decoration:none;
	text-align:center;
	font-size: 18px;
	color: white;
}

#logo_header
{
	width: 900px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

span#header_title
{
	font-family: Font1;
	color: white;
	font-size: 30px;
	letter-spacing: 5px;
	text-shadow:5px 5px 10px white;
}

#left_header
{
	margin-top: 50px;
	float: right;
	width: 140px;
	height: 60px;
}

#left_header img
{
	cursor: pointer;
}

#container 
{
	background-color: rgba(255, 255, 255, 0.4);
	width:900px;
	height:300px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	z-index: 100;
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#slide_container 
{
	width:600px;
	height:350px;
	position:relative;
}

#images 
{
	position:absolute;
	top:15px;
	left:23px;
	z-index:100;
}
/*for the images inside*/
.slides_container 
{
	width:854px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container a 
{
	width:854px;
	height:270px;
	display:block;
}

.slides_container a img 
{
	display:block;
}

#images .next, #images .prev
{
	position:absolute;
	top:107px;
	left:-18px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#images .next 
{
	left:850px;
}

.pagination 
{
	top: 230px;
	margin-left:340px;
	width:100px;
	z-index: 105;
	position:absolute;
}

.pagination li 
{
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a 
{
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a 
{
	background-position:0 -12px;
}

/*Log in and Sign Up*/

#form_externalcontainer
{
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(240, 183, 43, 0.5);
	color: white;
	width: 720px;
	height: 620px;
	position: fixed;
	z-index: 120;
	top: 25px;
    left: 23%;
    right: 23%;
}

#container_header
{
	float: left;
	height: 50px;
	width: 680px;
	text-align: center;
}

#registration_comment
{
	text-align: center;
	font-weight: bold;
	float: left;
	width: 720px;
	height: 30px;
}

#form_container h4
{
	color: white;
}

#form_container
{
	float: left;
	padding-left: 20px;
	height: 520px;
	width: 500px;
}

#form_container input[type="text"], #form_container input[type="password"], #form_container input[type="email"]
{
	font-size: 20px;
}

#form_container label
{
	color: white;
}

#form_container label, #form_container input[type="submit"]
{
	font-size: 18px;
}

#form_container select
{
	font-size: 18px;
}

#rightOfForm
{
	float: left;
	padding-top: 50px;
	height: 470px;
	width: 200px;
}

#catalog
{
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(240, 183, 43, 0.5);
	width: 600px;
	height: 300px;
	float: left;
	position: fixed;
	z-index: 120;
	top: 200px;
    left: 27%;
    right: 27%;
}

#catalog_header
{
	
	float: left;
	margin-top: 10px;
	padding-top: 5px;
	width: 560px;
	height: 30px;
	font-size: 20px;
	text-align:center;
	color: white;
}

#cancel1
{
	
	float: left;
	margin-top: 10px;
	padding-right: 10px;
	width: 30px;
	height: 35px;
}

#cancel2
{
	float: left;
	margin-top: 10px;
	padding-right: 10px;
	width: 30px;
	height: 35px;
}

#cancel1 img, #cancel2 img
{
	cursor: pointer;
}

#login_comment
{
	font-size: 18px;
	text-align: center;
	padding-top: 0px;
	float: left;
	font-weight: bold;
	height: 20px;
	width: 600px;
}

#account_picture
{
	float: left;
	padding-left: 15px;
	margin-left: 50px;
	width: 190px;
	height: 200px;
}

#account_box
{
	float: left;
	height: 200px;
	width: 250px;
}

#account_box input[type="text"], #account_box input[type="password"]
{
	font-size: 20px;
}

#account_box select
{
	font-size: 18px;
}

#not_member
{
	cursor: pointer;
	float: left;
	height: 20px;
	width: 395px;
}

#account_box span
{
	color: white;
	font-size: 20px;
}

#account_box a
{
	color: white;
	font-size: 20px;
}

#account_box input
{
	font-size: 17px;
}

/*Log in and Sign Up*/

input, select
{
	margin-top: 5px;
}

#user_account
{
	
	float: left;
	width: 300px;
	height: 200px;
}

.img_link_container
{
	
	margin-left: 20px;
	float: left;
	width: 250px;
	height: 40px;
}

.img
{
	float: left;
	width: 50px;
	height: 40px;
}

.link
{
	padding-top: 10px;
	float: left;
	width: 200px;
	height: 40px;
}

.link a
{
	text-decoration: none;
	font-size: 15px;
}

/*for the librarian*/
.lib_img_link_container
{
	margin-left: 20px;
	float: left;
	width: 250px;
	height: 30px;
	margin-bottom: 5px;
}

.lib_img
{
	float: left;
	width: 30px;
	height: 30px;
}

.lib_link
{
	padding-left: 5px;
	float: left;
	width: 195px;
	height: 30px;
}

.lib_link a
{
	text-decoration: none;
	font-size: 13px;
}

#news
{
	background-color: rgba(241, 238, 231, 0.3);
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width:280px;
	height:280px;
	float:left;
}

#news_title
{
	float: left;
	width: 280px;
	height: 20px;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	text-align: center;
}

#news_content
{
	float: left;
	width: 240px;
	height: 230px;
	font-size: 15px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

#notice
{
	background-color: rgba(241, 238, 231, 0.3);
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width:280px;
	height:280px;
	margin-left:20px;
	float:left;
}

#notice_title
{
	float: left;
	width: 280px;
	height: 20px;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	text-align: center;
}

#notice_content
{
	float: left;
	width: 240px;
	height: 230px;
	font-size: 15px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-align: justify;
}

#SecondContainer
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	width: 580px;
	height: 580px
}

#calendar
{
	background-color: rgba(148, 143, 142, 0.3);
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-top: 20px;
	width: 580px;
	height:280px;
	float:left;
}

#calendar_title
{
	width: 580px;
	height: 20px;
	float: left;
	padding-top: 10px;
	color: white;
	text-align: center;
}

#calendar_content
{
	float: left;
	width: 540px;
	height: 230px;
	font-size: 15px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-align: justify;
}

#outer_container
{
	height: 600px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#latest
{
	background-color: rgba(148, 143, 142, 0.3);
	box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width:300px;
	height: 580px;
	float:left;
	margin-top: 20px;
}

#latest_title
{
	width:300px;
	height: 20px;
	float: left;
	padding-top: 10px;
	color: white;
	text-align: center;
}

#latest_content
{
	float: left;
	width:260px;
	height: 230px;
	font-size: 15px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-align: justify;
}

#footerNavigationBox
{
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 900px;
	text-align: center;
}

#beforeFooter
{
	height: 30px;
	width: 900px;
}

ul#footernavigation
{
	margin-left: 220px;
	margin-top: 0px;
	padding-left: 0px;
}

ul#footerNavigation li
{
	padding-top: 7px;
	list-style: none;
	float: left;
	margin-right: 20px;
	font-size: 15px;
	color: white;
}

ul#footernavigation li a
{
	display: block;
	text-decoration:none;
	font-size: 15px;
	color: white;
}

#afterFooter
{
	font-size: 15px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	width: 860px;
}